<!-- footer content -->
<footer>
    <div class="">
        <p class="pull-right">Simple Backend. | By
            <span class="lead"> <a href="https://github.com/kmikodev">Kmikodev</a></span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->